h1 {
    font font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}
.instructions{

}

#board {
    display: grid;
    grid-template-columns: repeat(2, 30vmin);
    grid-template-rows: repeat(2, 30vmin);
}

#yellow {
    background-color: yellow;
}

#red {
    background-color: #990000;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

