h1 {
    font-weight: normal;
}

body {
    color: white;
    background-color: black;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

/* .instructions{

} */

#start {
    height: 2vmin;
}

#board {
    display: grid;
    grid-template-columns: repeat(2, 30vmin);
    grid-template-rows: repeat(2, 30vmin);
    gap: 1vmin;
    margin-top: 10vmin;
    margin-bottom: 2vmin;
}

#green {
    background-color: #009900;
    border-top-left-radius: 100%;
}

#red {
    background-color: #990000;
    border-top-right-radius: 100%;
}

#yellow {
    background-color: #999900;
    border-bottom-left-radius: 100%;
}

#blue {
    background-color: #000099;
    border-bottom-right-radius: 100%;
}



